<div class="education-container">
  <h2 class="container-title">Education</h2>
  <h3 class="section-title">Universities</h3>
    <div class="item">
      <h4 class="degree">
        Bachelor in Computer Science
      </h4>
      <h5 class="meta">
        Faculty of Informatics and Information Technology, Slovak Technical University in Bratislava
      </h5>
      <div class="time">
        2014 - 2017
      </div>
      <p>
        <b>Informatics:</b> Database systems, Artificial Intelligence, Principles of software engineering, Procedural programming, Object oriented programming, Operating systems, ...
      </p>
      <p>
        <b>Mathematics:</b> Calculus, Algebra and discrete mathematics, Probability and statistics,
      </p>
      <p>
        and others
      </p>
  </div>
  <div class="item">
    <h4 class="degree">
      Bachelor in Computer Science (unfinished)
    </h4>
    <h5 class="meta">
      Faculty of Information Technology, Czech Technical University in Prague
    </h5>
    <div class="time">
      2013 - 2014
    </div>
    <p>
      <b>Informatics:</b> Programming and algorithms in C
    </p>
    <p>
      <b>Mathematics:</b> Mathematical logic, Linear algebra, Elements of Calculus,
    </p>
    <p>
      and others
    </p>
  </div>
  <h3 class="section-title">Independent Courses</h3>
  <div class="item">
    <h4 class="course">
      HTML, CSS, PHP
    </h4>
    <h5 class="meta">
      Codecademy
    </h5>
    <div class="time">
      2014
    </div>
    <p>Online courses to learn basics of creating websites.</p>
  </div>
</div>
