<div class="skills-section">
  <h2 class="section-title">Skills &amp; Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Languages</h3>
            <p>
              Native speaker in Slovak, fluent in English, no problem with understanding written or spoken Czech and basics of French.
            </p>
        </div>
        <div class="item">
            <h3 class="level-title">Computer skills</h3>
            <h4>Programming</h4>
            <p>
                C, Java, Selenium (framework), Sparx Enterprise Architect at intermediate level
              </p>
              <p>
                Redis, SQL (Postgres), Shell (Cshell, bash) at basics to intermediate level
              </p>
              <p>
                Python, C++, HTML, CSS, PHP, JavaScript, Assembler, System C, JavaFX, Swing only basics.
              </p>
            <h4>Other</h4>
            <p>
              MacOS, Microsoft Office - advanced
            </p>
            <p>
              Microsoft Windows, LaTeX - intermediate
            </p>
            <p>
              UNIX/Linux - basics
            </p>
        </div>
      </div>
